@import '../assets/styles/variables.scss';

.employees {

  &__header {
    &--title {
      color: $secondary;
      font-size: 24px;
      font-weight: bold;
      margin: 0 auto;
      padding: 20px 10px;
    }

    &--menu {
      display: inline-grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      padding: 10px;
    }

    &--menu-item {
      color: $secondary;
      padding: 5px 20px;
      border-top: solid 5px transparent;
      font-weight: bold;
      cursor: pointer;
    }

    &--menu-item--active {
      color: $secondary;
      padding: 5px 20px;
      border-top: solid 5px $primary;
      font-weight: bold;
      cursor: pointer;
    }

    &--breadcrumbs {
      color: $secondary;
      padding: 10px;
    }

    &--breadcrumbs-item {
      display: inline-grid;
      color: $secondary;
      padding: 10px;
      font-weight: bold;
      text-decoration: none;
      text-transform: capitalize;
    }
  }

  &__main-list-view {
    background-color: white;
    border-radius: 10px;
    height: calc(100vh - 120px);
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  &__filter {
    &--dropdown {
      padding: 5px 10px;
      font-size: 16px;
    }

    &--dropdown-label {
      font-weight: bold;
      padding: 5px 10px;
    }

    &--selections-list {
      padding: 5px;
      display: flex;
      flex-wrap: wrap;
    }

    &--selections {
      background-color: $primary;
      color: white;
      border-radius: 20px;
      padding: 5px 15px;
      margin: 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__list {
    overflow-y: auto;
    height: calc(100vh - 240px);

    &--result-count {
      padding-top: 10px;
      font-size: 14px;
      color: $primary;
      text-align: left;
    }

    &--header {
      display: grid;
      grid-template-columns: 40px 2fr 2fr 1fr 2fr;
      justify-content: space-between;
      font-weight: bold;

      div {
        padding: 10px;
      }
    }

    &--row {
      display: grid;
      grid-template-columns: 40px 2fr 2fr 1fr 2fr;
      justify-content: space-between;

      &:nth-child(odd) {
        background-color: $list-odd;
      }

      div {
        padding: 10px;
        overflow-wrap: break-word;
        word-wrap: break-word;
      }
    }

    &--name {
      color: $primary;
      font-weight: bold;
      cursor: pointer;
    }
  }
}