@import '../assets/styles/variables.scss';

.employees {

  &__header {
    &--menu {
      display: inline-grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      padding: 10px;
    }

    &--menu-item {
      color: $secondary;
      padding: 5px 20px;
      border-top: solid 5px transparent;
      font-weight: bold;
      cursor: pointer;
    }

    &--menu-item--active {
      color: $secondary;
      padding: 5px 20px;
      border-top: solid 5px $primary;
      font-weight: bold;
      cursor: pointer;
    }
  }

  &__main-list-view {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
  }
  
  &__filter {
    &--dropdown {
      padding: 5px 10px;
      font-size: 16px;
    }

    &--dropdown-label {
      font-weight: bold;
      padding: 5px 10px;
    }

    &--selections-list {
      padding: 5px;
      display: flex;
      flex-wrap: wrap;
    }

    &--selections {
      background-color: $primary;
      color: white;
      border-radius: 20px;
      padding: 5px 15px;
      margin: 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__list {
    overflow-y: auto;
    height: calc(100vh - 180px);

    &--result-count {
      padding-top: 10px;
      font-size: 14px;
      color: $primary;
      text-align: left;
    }

    &--header {
      display: grid;
      grid-template-columns: 40px 2fr 2fr 1fr 2fr;
      justify-content: space-between;
      font-weight: bold;

      div {
        padding: 10px;
      }
    }

    &--row {
      display: grid;
      grid-template-columns: 40px 2fr 2fr 1fr 2fr;
      justify-content: space-between;

      &:nth-child(odd) {
        background-color: $list-odd;
      }

      div {
        padding: 10px;
        overflow-wrap: break-word;
        word-wrap: break-word;
      }
    }
  }
}

.employee-details {
  background-color: white;
  border-radius: 10px;
  padding: 20px;

  h1 {
    color: $primary;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px 0;
  }
}