@import './variables.scss';

.employees {
  padding: 10px;

  &__header {
    &--menu {

    }

    &--menu-item {
      
    }
  }

  &__main-list-view {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
  }
  
  &__filter {
    &--dropdown {
      padding: 5px 10px;
      font-size: 16px;
    }

    &--dropdown-label {
      font-weight: bold;
      padding: 5px 10px;
    }

    &--selections-list {
      padding: 5px;
      display: flex;
      flex-wrap: wrap;
    }

    &--selections {
      background-color: $primary;
      color: white;
      border-radius: 20px;
      padding: 5px 15px;
      margin: 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__list {
    overflow-y: auto;
    height: calc(100vh - 180px);

    &--result-count {
      padding-top: 10px;
      font-size: 14px;
      color: $primary;
      text-align: right;
    }

    &--header {
      display: grid;
      grid-template-columns: 40px 2fr 2fr 1fr 2fr;
      justify-content: space-between;
      font-weight: bold;

      div {
        padding: 10px;
      }
    }

    &--row {
      display: grid;
      grid-template-columns: 40px 2fr 2fr 1fr 2fr;
      justify-content: space-between;

      &:nth-child(odd) {
        background-color: $list-odd;
      }

      div {
        padding: 10px;
        overflow-wrap: break-word;
        word-wrap: break-word;
      }
    }
  }
}