@import './variables.scss';

.layout-main {
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  background-color: $background-light;

  display: grid;
  grid-template-columns: minmax(50px, 100px) auto;

  &__sidebar {
    background-color: $primary;
    color: white;
    
    &--header {
      height: 55px;
      padding: 10px;

      display: flex;
      align-items: center;
      justify-content: center;
      
      background-color: $secondary;
      font-size: 16px;
    }

    &--menu {
      padding: 20px 0;
    }

    &--link {
      border-left: solid 5px transparent;
      border-right: solid 5px transparent;
      margin: 20px 0;
      padding: 10px;

      display: grid;
      place-items: center;

      &:hover {
        border-left: solid 5px white;
        cursor: pointer;
      }
    }

    &--link-icon {
      width: 25px;
      height: 25px;
    }

    &--link-text {
      font-size: 14px;
      padding: 5px 0;
      text-align: center;
    }
  }

  &__content {
    padding: 0 10px;
  }
}